RVL_ALIAS "debug_clk" "pll_u0/CLKOS2"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sys_rst_n" SITE "B3" ;
LOCATE COMP "cloumn_o[0]" SITE "F15" ;
LOCATE COMP "cloumn_o[1]" SITE "E16" ;
LOCATE COMP "cloumn_o[2]" SITE "E14" ;
LOCATE COMP "cloumn_o[3]" SITE "D16" ;
LOCATE COMP "cloumn_o[4]" SITE "D15" ;
LOCATE COMP "cloumn_o[5]" SITE "C16" ;
LOCATE COMP "cloumn_o[6]" SITE "C15" ;
LOCATE COMP "cloumn_o[7]" SITE "B16" ;
LOCATE COMP "cloumn_o[8]" SITE "J16" ;
LOCATE COMP "cloumn_o[9]" SITE "J14" ;
LOCATE COMP "cloumn_o[10]" SITE "G15" ;
LOCATE COMP "cloumn_o[11]" SITE "G14" ;
LOCATE COMP "cloumn_o[12]" SITE "F16" ;
LOCATE COMP "cloumn_o[13]" SITE "F14" ;
LOCATE COMP "cloumn_o[14]" SITE "E15" ;
LOCATE COMP "cloumn_o[15]" SITE "D14" ;
LOCATE COMP "cloumn_o[16]" SITE "L16" ;
LOCATE COMP "cloumn_o[17]" SITE "L14" ;
LOCATE COMP "cloumn_o[18]" SITE "K16" ;
LOCATE COMP "cloumn_o[19]" SITE "J15" ;
LOCATE COMP "cloumn_o[20]" SITE "H14" ;
LOCATE COMP "cloumn_o[21]" SITE "H16" ;
LOCATE COMP "cloumn_o[22]" SITE "H15" ;
LOCATE COMP "cloumn_o[23]" SITE "G16" ;
LOCATE COMP "cloumn_o[24]" SITE "R16" ;
LOCATE COMP "cloumn_o[25]" SITE "P15" ;
LOCATE COMP "cloumn_o[26]" SITE "P16" ;
LOCATE COMP "cloumn_o[27]" SITE "N15" ;
LOCATE COMP "cloumn_o[28]" SITE "N16" ;
LOCATE COMP "cloumn_o[29]" SITE "N14" ;
LOCATE COMP "cloumn_o[30]" SITE "M16" ;
LOCATE COMP "cloumn_o[31]" SITE "L15" ;
LOCATE COMP "row_o[0]" SITE "B1" ;
LOCATE COMP "row_o[1]" SITE "C2" ;
LOCATE COMP "row_o[2]" SITE "C1" ;
LOCATE COMP "row_o[3]" SITE "D2" ;
LOCATE COMP "row_o[4]" SITE "E1" ;
LOCATE COMP "row_o[5]" SITE "F2" ;
LOCATE COMP "row_o[6]" SITE "F1" ;
LOCATE COMP "row_o[7]" SITE "F3" ;
LOCATE COMP "row_o[8]" SITE "D3" ;
LOCATE COMP "row_o[9]" SITE "D1" ;
LOCATE COMP "row_o[10]" SITE "E3" ;
LOCATE COMP "row_o[11]" SITE "E2" ;
LOCATE COMP "row_o[12]" SITE "G3" ;
LOCATE COMP "row_o[13]" SITE "G2" ;
LOCATE COMP "row_o[14]" SITE "H1" ;
LOCATE COMP "row_o[15]" SITE "H3" ;
LOCATE COMP "row_o[16]" SITE "G1" ;
LOCATE COMP "row_o[17]" SITE "H2" ;
LOCATE COMP "row_o[18]" SITE "J3" ;
LOCATE COMP "row_o[19]" SITE "J1" ;
LOCATE COMP "row_o[20]" SITE "J2" ;
LOCATE COMP "row_o[21]" SITE "K1" ;
LOCATE COMP "row_o[22]" SITE "L3" ;
LOCATE COMP "row_o[23]" SITE "L1" ;
LOCATE COMP "row_o[24]" SITE "L2" ;
LOCATE COMP "row_o[25]" SITE "M1" ;
LOCATE COMP "row_o[26]" SITE "M3" ;
LOCATE COMP "row_o[27]" SITE "N1" ;
LOCATE COMP "row_o[28]" SITE "N2" ;
LOCATE COMP "row_o[29]" SITE "P1" ;
LOCATE COMP "row_o[30]" SITE "R1" ;
LOCATE COMP "row_o[31]" SITE "P2" ;
LOCATE COMP "gpio_LED[0]" SITE "B5" ;
LOCATE COMP "gpio_LED[1]" SITE "C4" ;
LOCATE COMP "miso" SITE "P8" ;
LOCATE COMP "sclk" SITE "T7" ;
LOCATE COMP "mosi" SITE "T8" ;
LOCATE COMP "cs_n" SITE "R8" ;
LOCATE COMP "HW_L1_i[0]" SITE "G4" ;
LOCATE COMP "HW_L1_i[1]" SITE "G5" ;
LOCATE COMP "HW_L1_i[2]" SITE "J5" ;
LOCATE COMP "HW_L1_i[3]" SITE "K6" ;
LOCATE COMP "HW_L2_i[0]" SITE "K4" ;
LOCATE COMP "HW_L2_i[1]" SITE "L5" ;
LOCATE COMP "HW_L2_i[2]" SITE "K5" ;
LOCATE COMP "HW_Frequency_i[0]" SITE "H4" ;
LOCATE COMP "HW_Frequency_i[1]" SITE "J6" ;
LOCATE COMP "HW_Frequency_i[2]" SITE "H5" ;
LOCATE COMP "HW_Frequency_i[3]" SITE "J4" ;
LOCATE COMP "eep_cs_n" SITE "R5" ;
LOCATE COMP "eep_sclk" SITE "P6" ;
LOCATE COMP "eep_dq0" SITE "P13" ;
LOCATE COMP "eep_dq1" SITE "T6" ;
LOCATE COMP "eep_dq2" SITE "M7" ;
LOCATE COMP "eep_dq3" SITE "M6" ;
#----------------------------------------------------
IOBUF PORT "sys_rst_n" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "cloumn_o[0]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[1]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[2]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[3]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[4]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[5]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[6]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[7]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[8]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[9]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[10]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[11]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[12]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[13]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[14]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[15]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[16]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[17]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[18]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[19]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[20]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[21]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[22]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[23]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[24]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[25]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[26]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[27]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[28]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[29]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[30]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "cloumn_o[31]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[0]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[1]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[2]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[3]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[4]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[5]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[6]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[7]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[8]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[9]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[10]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[11]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[12]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[13]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[14]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[15]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[16]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[17]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[18]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[19]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[20]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[21]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[22]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[23]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[24]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[25]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[26]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[27]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[28]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[29]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[30]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "row_o[31]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "gpio_LED[0]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "gpio_LED[1]" DRIVE=8 IO_TYPE=LVCMOS25 ;
IOBUF PORT "miso" IO_TYPE=LVCMOS25 ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS25 ;
IOBUF PORT "mosi" IO_TYPE=LVCMOS25 ;
IOBUF PORT "cs_n" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_cs_n" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_sclk" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_dq0" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_dq1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_dq2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "eep_dq3" IO_TYPE=LVCMOS25 ;
FREQUENCY NET "x2osc_clk" 66.500000 MHz ;
FREQUENCY NET "eif_clk_x2" 99.750000 MHz ;
FREQUENCY NET "sclk_c" 50.000000 MHz ;
BLOCK JTAGPATHS ;